
body {
    background-image:url("starbursteverything.jpg");
    color: rgb(255,255,255)
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    font-size: 60px;
    align-content: center;
    font-family: 'Indie Flower', cursive;
}

#content {
    display: block;
    margin-left: auto;
    margin-right: auto
}

header {
	
}

footer {
	font-style: italic;
	font-size: 140%;
}

